{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Регистрация</h1>

    <form action="{{ path('neox_user_register') }}" method="POST">
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        {{ form_widget(form.save) }}
        {{ form_row(form._token) }}
    </form>
{% endblock %}
